langchain
langchain-community
langchain-huggingface
langchain-openai
langchain-google-genai
openai
requests
python-dotenv
streamlit
faiss-cpu
sentence-transformers
unstructured[pdf]
pdfminer.six
python-docx 
beautifulsoup4
markdown